<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<%= @user_name %>さん、こんにちは。HTMLで書きました。

<br>
</p>
<table cellspacing="0">
  <tbody>
    <tr>
      <td align="left"></td>
      <td>銘柄名&nbsp;</td>
      <td>証券コード&nbsp;</td>
      <td width="59">株価</td>
      <td width="65">時刻&nbsp;</td>
      <td width="188">買い注文数÷売り注文数&nbsp;</td>
    </tr>
    <tr>
      <td align="left" width="24">1</td>
      <td width="162">クロスフォード</td>
      <td>7810&nbsp;</td>
      <td width="59">2,143&nbsp;</td>
      <td width="65">09:10</td>
      <td align="left" width="188">6.0倍</td>
    </tr>
    <tr>
      <td align="left" width="24">2</td>
      <td width="162">アルメディオ</td>
      <td>8923</td>
      <td width="59">4,356</td>
      <td width="65">09:05</td>
      <td align="left" width="188">5.8倍</td>
    </tr>
    <tr>
      <td align="left" width="24">3</td>
      <td width="162">ゲンキー&nbsp;</td>
      <td>9231</td>
      <td width="59">223</td>
      <td width="65">09:34</td>
      <td align="left" width="188">5.7倍</td>
    </tr>
    <tr>
      <td align="left" width="24">4</td>
      <td width="162">アジア開発</td>
      <td>8231</td>
      <td width="59">655</td>
      <td width="65">10:33</td>
      <td align="left" width="188">5.5倍</td>
    </tr>
    <tr>
      <td align="left" width="24">5</td>
      <td width="162">安川電機</td>
      <td>2121</td>
      <td width="59">878</td>
      <td width="65">11:21</td>
      <td align="left" width="188">5.0倍</td>
    </tr>
    <tr>
      <td align="left" width="24">6</td>
      <td width="162">PATH</td>
      <td>3421</td>
      <td width="59">332</td>
      <td width="65">09:03</td>
      <td align="left" width="188">4.9倍</td>
    </tr>
    <tr>
      <td align="left" width="24">7</td>
      <td width="162">ソウルドアウト&nbsp;</td>
      <td>6458</td>
      <td width="59">2,235</td>
      <td width="65">09:16</td>
      <td align="left" width="188">4.5倍</td>
    </tr>
    <tr>
      <td align="left" width="24">8</td>
      <td width="162">パラジウム</td>
      <td>7763</td>
      <td width="59">5,680</td>
      <td width="65">10:37</td>
      <td align="left" width="188">4.3倍</td>
    </tr>
    <tr>
      <td align="left" width="24">9</td>
      <td width="162">ベネフィット</td>
      <td>3324</td>
      <td width="59">123</td>
      <td width="65">11:15</td>
      <td align="left" width="188">4.1倍</td>
    </tr>
    <tr>
      <td align="left" width="24">10</td>
      <td width="162">マイネット</td>
      <td>8723</td>
      <td width="59">2,670</td>
      <td width="65">14:22</td>
      <td align="left" width="188">4.0倍</td>
    </tr>
  </tbody>
</table>
<p><br>
<br>

<%= @hello %>
</body>
</html>
